
<form  class="login" method="POST" name="sign">
        <div class="input">
            
            <div class="email">
                <input type="text" class="email" name="email"  />
                <label for="email"> Email</label>
            </div>
            <div class="password">
                <input type="text" class="password"  name="password" />
                <label for="password"> password</label>
            </div>
            <input class="submit" type="submit" />
        </div>

        

    </form>