<div class="container">

    <form  class="petition" method="POST" name="sign">
        <div class="input">
            <div class="first">
                <input type="text" class="firstName" name="first" required />
                <label for="first"> First Name</label>
            </div>
            <div class="last">
                <input type="text" class="lastName"  name="last"required />
                <label for="last"> Last Name</label>
            </div>

        </div>

        <canvas id="canvas" required> ddddddd</canvas>
        <div class="sign">
            <h4> sign here</h4>
            <input class="submit" type="submit" />
        </div>

    </form>