<form action="" class="sign" method="post">

    <canvas id="canvas" > </canvas>
        <div class="sign">
            <h4> please sign here</h4>
            <input class="submit" type="submit" value=" submit signature"/>
        </div>
        <input type="hidden" class="signature"  name="signature" />
        
</form>