
{{> header}}

{{#if dataNotValid}}
{{>dataNotValid}}
{{/if }}
{{#if emailIsUsed}}
{{>emailIsUsed}}
{{/if }}
<div class="container">

    <form  class="petition" method="POST" name="sign">
        <div class="input">
            <div class="first">
                <input type="text" class="firstName" name="firstName"  />
                <label for="firstName"> First Name</label>
            </div>
            <div class="last">
                <input type="text" class="lastName"  name="lastName" />
                <label for="lastName"> Last Name</label>
            </div>
            <input type="hidden" class="signature"  name="signature" />
            <div class="email">
                <input type="email" class="email" name="email"  />
                <label for="email"> Email</label>
            </div>
            <div class="password">
                <input type="password" class="password"  name="password" />
                <label for="password"> password</label>
            </div>
            
            <input class="submit" type="submit" value =" Register"/>
        </div>

        

    </form>
 </div>