{{> header}}
<div class="thanks"><p> thank you <strong>{{first}} {{last}}</strong> for signing the petition</p>

    <a href="/signed"> <strong>{{countUsers}}</strong> people had already signed click to check who signed</a>
</div>

