{{> more_information}}
{{#if dataNotValid}}
{{>dataNotValid}}
{{/if }}


<div class="container">


    <form  class="petition" method="POST"  >
        
        <div class="input">
            <div class="first">
                <input type="text" class="" name="age"  />
                <label for="age"> Age</label>
            </div>
            <div class="last">
                <input type="text" class=""  name="city" />
                <label for="city"> City</label>
            </div>
            
            <div class="email">
                <input type="text" class="" name="homepage"  />
                <label for="homepage"> Homepage</label>
            
            <input class="submit" type="submit" value =" save"/>
        </div>

        

    </form>